body {
  margin: 0;
  padding: 0;
  background-color: darkslategrey;
}

h1 {
  text-align: center;
  background-color: antiquewhite;
  padding: 1em;
}

.main-container {
  background-color: aliceblue;
  width: 550px;
  height: 550px;
  margin: 0 auto;

}

.top {
  background-color: #1F2937;
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.middle {
  margin: 0;
  background-color: coral;
}

.bottom {
  background-color: #1F2937;
  height: 46px;
}